<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Mi familia son:</p>

    {% for Parientes in familiares %}

        <p>{{Parientes.nombre}} {{Parientes.apellido}}, tiene {{Parientes.edad}} años, nacio el {{Parientes.cumpleaños}} y es mi {{Parientes.parentezco}}.</p>

    {% endfor %}

</body>
</html>